/*
	========================================
	Global
	========================================
*/

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	background-color: #C0DEED;
	padding: 0;
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.main {
	width: 100%;
}

/*
	========================================
	Personal Tweetbox
	========================================
*/

.tweet-box {
	border-radius: 5px;
	border: 1px solid #e1e8ed;
	background-color: #0084B4;
	width: 100%;
	padding: 1em;
	text-align: center;
}

.tweet-box textarea {
	font-size: 1.25em;
	padding: 0.25em;
	height: 1.8em;
	width: 85%;
	margin: 0 1em;
	/*border-color: 1px solid #56b4ef;*/
	resize: none;
}

.tweet-box textarea:focus {
	height: 6em;
}

.tweet-box button {
	padding: 0.25em 0.5em;
	font-size: 1.15em;
	float:right;
}

/*
	========================================
	Main Tweet Content
	========================================
*/

.newTweetsCount {
	border: 1px solid #e1e8ed;
	height: 3em;
	background-color: lightblue;
	width: 100%;
	padding: 1em;
	text-align: center;
	display: none;
	cursor: pointer;
}

.tweet {
	background-color: white;
	border: 1px solid #e1e8ed;
	border-radius: 5px;
	text-align: center;
	padding: 1em;
	width: 100%;
	font-family: sans-serif;
}

.tweet-container {
	border-radius: 5px;
	min-width: 320px;
	max-width: 800px;
	margin: 0.5em auto;
}

.tweet-container .tweet:hover {
	background-color: #f5f8fa;
}

.date {
	font-size: .875em;
	color: gray;
}

.user {
	font-weight: bold;
	cursor: pointer;
}

.user:hover {
	color: #0084B4;
	text-decoration: underline;
}

/*
	========================================
	Header / Nav Styles
	========================================
*/

.main-header {
	background-color: white;
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #BBBDBB 100%);
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #BBBDBB 100%);
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #BBBDBB 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #BBBDBB)); 
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #BBBDBB 100%);
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #BBBDBB 100%);
	box-shadow: 1px 1px 5px black;
}

.main-header ul {
	padding: 0.75em;
}

.main-header ul li {
	margin: 0 1em;
	display: inline-block;
}

.main-header button {
	padding: 0.5em;
}

/*
	========================================
	Media Queries
	========================================
*/

@media screen and (max-width: 800px) {
	.tweet-box button {
		float:none;
	}
}